<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="boxWrapper pollBoxWrapper">
                <h3 class="marB30 infoHeading">Your Polls</h3>
	            <% include ../partials/pollPosts %>
            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>