<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <% include ../partials/profileBlock %>
            <% include ../partials/modal %>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <script src="/common/ajaxFunctions.js"></script>
        <script src="/controllers/clickController.client.profile.js"></script>
    </body>
</html>