<div class="boxWrapper">
	<div class="container footerWrapper">
		<div class="footer col-xs-12">
			<p class="pull-left">
			    <a href="/credits">Credits</a>
			</p>
			<p class="pull-right">
			    Made by 
			    <a href="http://iamarshad.com" target="_blank" rel="tooltip" title='<i class="smiley fa fa-smile-o" aria-hidden="true"></i>'>
			        Arshad
			    </a>
			</p>
		</div>
	</div>
</div>
<script src="/common/customFunctions.js"></script>
<script src="/common/tooltip.js"></script>