<meta charset="UTF-8">
<meta name="description" content="full stack javascript polling/voting app">
<meta name="author" content="Arshad Khan">
<meta name="theme-color" content="#2e3d49">
<title><%= pageTitle %> - Voting Wap</title>
<link rel='shortcut icon' href='/public/img/favicon.png' type='image/x-icon'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Sans+Pro:200,300,400,600" rel="stylesheet"> 
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/main.css">