<div class="boxWrapper">
    <div class="container box profileBox">
    	<div class="col-xs-12 text-center profilePictureWrapper marB20 marT10">
    		<img class="profilePicture" src="<%= img %>" class="navIcons" alt="Profile Picture"/>
    	</div>
    	<div class="col-xs-12 marB30"><h2 class="text-center">Arshad Khan</h2></div>
    	<div class="col-xs-12 text-center userPollsInfo marB20">
    		<p><span>Polls created:</span>  <strong class="pollCreatedCount"><%= pollsCreated %></strong></p>
    		<p><span>Polls voted:</span> <strong class="pollVotedCount"><%= pollsVoted %></strong></p>
    	</div>
    	<div class="col-xs-12 text-center">
    		
    		<button class="logoutBtn curPoin logout">Logout</button>
    		
    	</div>
    	<div class="col-xs-12 text-center">
    		<button class="deleteAccBtn curPoin openModalBtn" id="deleteAccBtn">Delete Account</button>
    	</div>
    </div>
</div>

