<div class="boxWrapper">
    <div class="container box signinBox">
    	<div class="col-xs-12 text-center marB30 marT10">
    		<h2>Log Into Your Account</h2>
    	</div>
    	<div class="col-xs-12 text-center">
    		<p class="description">You can use any of the below services to log in.</p>
    	</div>
    	<div class="signinBlock col-xs-12">
    		<div class="col-xs-12 text-center btnWrapper fbBtnWrapper">
    			<a href="/auth/facebook">
    			    <button class="fbBtn">
    					<i class="fa fa-facebook" aria-hidden="true"></i>
    					Facebook
    			    </button>
    			</a>
    		</div>
    		<div class="col-xs-12 text-center btnWrapper twitterBtnWrapper">
    			<a href="/auth/twitter">
    			    <button class="twitterBtn">
    					<i class="fa fa-twitter" aria-hidden="true"></i>
    					Twitter
    			    </button>
    			</a>
    		</div>
    		<div class="col-xs-12 text-center btnWrapper googleBtnWrapper">
    			<a href="/auth/google">
    			    <button class="googleBtn">
    					<i class="fa fa-google-plus" aria-hidden="true"></i>
    					Google
    			    </button>
    			</a>
    		</div>
    		<div class="col-xs-12 text-center btnWrapper githubBtnWrapper">
    			<a href="/auth/github">
    			    <button class="githubBtn">
    					<i class="fa fa-github" aria-hidden="true"></i>
    					Github
    			    </button>
    			</a>
    		</div>
    	</div>
    </div>
</div>
